<%- include('partials/header') -%>
<title>Food Recipes - Daily limit reached</title>


<div class="container">
    <h3 class="pt-5">
        Sorry, daily points limit has been reached.
    </h3>
    <p>
        <%= errMsg.error %>
    </p>
    <blockquote class="blockquote">
    <p class="font-weight-bold">"ComeBack Later"</p>
  </blockquote>
  </div>




<%- include('partials/footer') -%>